/**
* testimonial style 01
*/
@use '../abstracts/variables' as *;
.sg-testimonial {
    &-space-main {
        @media #{$md} {
            margin-left: 30px;
        }
    }
    &-box {
        &-author {
            &-wrap {
                display: flex;
                grid-gap: 25px;
                align-items: center;
                @media #{$md} {
                    margin-bottom: 20px;
                }
            }
            &-img {
                max-width: 93px;
            }
            &-title {
                font-size: 22px;
                margin-bottom: 3px;
                & a {
                    text-decoration: none;
                    &:hover {
                        color: var(--clr-theme-primary);
                    }
                }
            }
            &-subtitle {
                font-size: 14px;
            }
        }
    }
    &-quote-text {
        font-style: italic;
        font-size: 28px;
        line-height: 38px;
        padding-right: 180px;
        @media #{$xl} {
            padding-right: 70px;
        }
        @media #{$lg} {
            font-size: 23px;
            line-height: 33px;
            padding-right: 50px;
        }
        @media #{$md, $xs} {
            font-size: 18px;
            line-height: 1.4;
            padding-right: 0;
        }
    }
}
.sg-testimonial-active-main.mb-70 {
    @media #{$md, $xs} {
        margin-bottom: 30px;
    }
}

.sg-testimonial-space-main.ml-70 {
    @media #{$xs} {
        margin-left: 0;
    }
}
