@font-face {
    font-family: "flaticon";
    src: url("../fonts/flaticon.ttf?99cbd77be67c6b38d5b615463150c54d") format("truetype"),
url("../fonts/flaticon.woff?99cbd77be67c6b38d5b615463150c54d") format("woff"),
url("../fonts/flaticon.woff2?99cbd77be67c6b38d5b615463150c54d") format("woff2"),
url("../fonts/flaticon.eot?99cbd77be67c6b38d5b615463150c54d#iefix") format("embedded-opentype"),
url("../fonts/flaticon.svg?99cbd77be67c6b38d5b615463150c54d#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-cart:before {
    content: "\f101";
}
.flaticon-play:before {
    content: "\f102";
}
.flaticon-facebook:before {
    content: "\f103";
}
.flaticon-twitter:before {
    content: "\f104";
}
.flaticon-instagram:before {
    content: "\f105";
}
.flaticon-linkedin:before {
    content: "\f106";
}
.flaticon-rocket-launch:before {
    content: "\f107";
}
.flaticon-creative-idea:before {
    content: "\f108";
}
.flaticon-layers:before {
    content: "\f109";
}
.flaticon-monitor:before {
    content: "\f10a";
}
.flaticon-business:before {
    content: "\f10b";
}
.flaticon-apartment:before {
    content: "\f10c";
}
.flaticon-paper-plane:before {
    content: "\f10d";
}
.flaticon-quote:before {
    content: "\f10e";
}
.flaticon-quotation:before {
    content: "\f10f";
}
.flaticon-user:before {
    content: "\f110";
}
.flaticon-view:before {
    content: "\f111";
}
.flaticon-mail:before {
    content: "\f112";
}
.flaticon-telephone:before {
    content: "\f113";
}
