@font-face {
    font-family: "flaticon";
    src: url("../fonts/flaticon.ttf?0394375edac46f1d21c1fa6dec5f473f") format("truetype"),
url("../fonts/flaticon.woff?0394375edac46f1d21c1fa6dec5f473f") format("woff"),
url("../fonts/flaticon.woff2?0394375edac46f1d21c1fa6dec5f473f") format("woff2"),
url("../fonts/flaticon.eot?0394375edac46f1d21c1fa6dec5f473f#iefix") format("embedded-opentype"),
url("../fonts/flaticon.svg?0394375edac46f1d21c1fa6dec5f473f#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-align-left:before {
    content: "\f101";
}
.flaticon-play-button-arrowhead:before {
    content: "\f102";
}
.flaticon-shopping-bag:before {
    content: "\f103";
}
.flaticon-left-arrow:before {
    content: "\f104";
}
.flaticon-folder:before {
    content: "\f105";
}
.flaticon-paper-plane:before {
    content: "\f106";
}
.flaticon-quote:before {
    content: "\f107";
}
.flaticon-liposuction:before {
    content: "\f108";
}
.flaticon-lip:before {
    content: "\f109";
}
.flaticon-botox:before {
    content: "\f10a";
}
.flaticon-breast-reconstruction:before {
    content: "\f10b";
}
.flaticon-instagram:before {
    content: "\f10c";
}
.flaticon-cancel:before {
    content: "\f10d";
}
